#main-body {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}


#image {
    padding-left: 50px;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    box-shadow: 0 0 40px rgba(0, 7, 36, 0.11);
    background-color: #ffffff;
    border-radius: 10px;
}

#text {
    margin-top: 50px;

}

#admin-login-text {
    font-family: "Poppins";
    font-weight: 300;
    letter-spacing: 8px;
    font-size: 36px;
    color: rgb(80, 82, 83);
}

#border {
    width: 92px;
    height: 3px;
    background-color: #2197ff;
    margin-left: 170px;
}

.username {
    margin:20px 40px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    background-color: #ffffff;
    border: 2px solid #dedede;
    width: 80%;
    color: rgb(120, 131, 145);
    align-items: center;
}

#media-query-style {
    justify-content: center;
}

.username-tab {
    width: 100%;
    margin-left: 20px;
    border: none;
    outline: none;
    box-shadow: none;
    color: rgb(0, 7, 36);
    font-family: "Poppins";
    font-size: 15px;
}

#password {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #dedede;
    height: 50px;
    width: 80%;
    margin-left: 40px;
    color: rgb(120, 131, 145);
}

#pass {
    margin-left: 18px;
    width: 260px;
    border: none;
    outline: none;
    box-shadow: none;
    color: rgb(0, 7, 36);
    font-family: "Poppins";
    font-size: 15px;

}


.btn-menu {
    background-color: rgb(32, 151, 255);
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    font-size: 17px;
    padding: 10px 20px;
}

.button-submit {
    display: flex;
    align-self: center;
    justify-content: center;
}

#forgot {
    text-align: center;
    margin-top: 20px;
    color: rgb(33, 151, 255);
    font-family: "Poppins";
    font-size: 17px;
}

#forgot-text {
    color: rgb(33, 151, 255);
    font-family: "Poppins";
    font-size: 17px;
}


@media screen and (max-width: 768px) {
    #image {
        text-align: center;
    }

    #right-menu {
        padding-top: 0px;
        padding-left: 40px;
        text-align: center;
    }

    #box {
        box-shadow: none;
    }

    #btn-menu {
        margin-left: 10px;
    }

}

@media screen and (max-width: 1000px) {
    #box {
        box-shadow: none;
    }


}
